@font-face {
    font-family: 'krub';
    src: url(./fuente/Krub-Regular.ttf) format('truetype');
}

*{
    margin: 0;
    padding: 0;
    font-family: krub;
}
.nav{
    display: flex;
    flex-direction: row;
    background-color: rgb(139, 0, 0, 1); 
    width: 100%;
    height: 9%;
}

.poke{
    width: 55%;
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: 10px;
    align-items: center;
    margin-left: 5%;
}

.search{
    display: flex;
    text-align: center;
    background: white;
    border: 2px solid #000;
    border-radius: 24px; 
    font-size: large;
    margin-left: -3%;
    height: 55%;
    width: 12%;
    margin-top: 1.7%;

}

.nav h2{
    display: flex;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    margin-left: 28.4%;
    color: white;
    font-size: xx-large;
}

.icon{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 10%;
    width: 55%;
}
.container{
    display: flex;
    flex-direction: row;
}
.var{
    background-color: #989797;
    width: 13%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.top{
    margin-top: 75%;
    display: flex;
    text-align: center;
}

.out{
    margin-top: 200%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.down{
    margin-left: -8%;
}
.buscar{
    box-sizing: border-box;

position: absolute;
width: 168px;
height: 38px;
left: 14px;
top: 251px;

background: #E0E0E0;
border: 3px solid #000000;
border-radius: 15px;
}

.lol{
    box-sizing: border-box;

position: absolute;
width: 168px;
height: 38px;
left: 14px;
top: 419px;

background: #E0E0E0;
border: 3px solid #000000;
border-radius: 15px;
}

.xd{
    box-sizing: border-box;

position: absolute;
width: 151px;
height: 38px;
left: 19px;
top: 600px;

background: #8B0000;
border: 3px solid #000000;
border-radius: 23.5px;
font-family: 'Krub';
font-style: normal;
font-size: 34px;
text-align: center;
 align-items: center;
}

.center{
    position: absolute;
width: 292px;
height: 391px;
left: 197px;
top: 74px;

background: #616161;
border-radius: 20px;
}

.Luc{
    width: 110%;
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: 10px;
    align-items: center;
    margin-left: 1%;
}

.center h3{
    display: flex;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    margin-left: 28.4%;
    color: white;
    font-size: xx-large;
}
.Star{
    position: absolute;
width: 25px;
height: 25px;
left: 189px;
top: 340px;
}

.centerr{
    position: absolute;
width: 292px;
height: 391px;
left: 339px;
top: 0px;

background: #616161;
border-radius: 20px;
}

.Cub{
   width: 110%;
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: 10px;
    align-items: center;
    margin-left: 0%; 
}

.centerrr{
    position: absolute;
width: 292px;
height: 391px;
left: 677px;
top: 0px;

background: #616161;
border-radius: 20px;    
}

.San{
    position: absolute;
    width: 328px;
    height: 328px;
    left: 1px;
    top: 2px;
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: 10px;
    align-items: center;    
}       
.Estre{
    position: absolute;
    width: 25px;
    height: 25px;
    left: 225px;    
    top: 340px;
}
.centerrr h3{
    position: absolute;
width: 219px;
height: 47px;
left: -28px;
top: 314px;

font-family: 'Krub';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 52px;

color: #FFFFFF;
}

.centerrrr{
    position: absolute;
width: 292px;
height: 391px;
left: 1019px;
top: 0px;

background: #616161;
border-radius: 20px;
}

.centerrrr h3{
    position: absolute;
    width: 219px;
    height: 47px;
    left: -10px;
    top: 312px;
    
    font-family: 'Krub';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    
    color: #FFFFFF;
}

.Starp{
    position: absolute;
width: 25px;
height: 25px;
left: 215px;
top: 341px;
}
.Bla{
    width: 110%;
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: 10px;
    align-items: center;
    margin-left: 0%; 
}

.centerrrrr{
    position: absolute;
width: 292px;
height: 391px;
left: 0px;
top: 427px;

background: #616161;
border-radius: 20px;
}

.veee{
    position: absolute;
width: 25px;
height: 25px;
left: 220px;
top:  331px;
}

.Bul{
    width: 105%;
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: 10px;
    align-items: center;
    margin-left: 0%; 
}

.centerrrrr h3{
    position: absolute;
    width: 219px;
    height: 47px;
    left: -22px;
    top: 302px;
    
    font-family: 'Krub';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    
    color: #FFFFFF;
    
}

.centerrrrrr{
    position: absolute;
width: 292px;
height: 391px;
left: 339px;
top: 427px;

background: #616161;
border-radius: 20px;
}

.Pik{

    position: absolute;
    width: 192px;
    height: 302px;
    left: 59px;
    top: 12px;    
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: 10px;
    align-items: center;
    
}
.centerrrrrr h3{
    position: absolute;
width: 219px;
height: 50px;
left: -10px;
top: 300px;

font-family: 'Krub';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 52px;

color: #ffffff;

}
.Starrr{
    position: absolute;
width: 25px;
height: 25px;
left: 204px;    
top: 330px;
}
.centerrrrrrr{
    position: absolute;
width: 292px;
height: 391px;
left: 678px;
top: 427px;

background: #616161;
border-radius: 20px;
}

.Squ{
    position: absolute;
    width: 288px;
    height: 288px;
    left: 2px;
    top: 2px;
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: 10px;
    align-items: center;
   
}
.Stad{
    position: absolute;
    width: 25px;
    height: 25px;
    left: 201px;
    top: 331px;
    
}

.centerrrrrrr h3{
    position: absolute;
width: 236px;
height: 47px;
left: 0px;
top: 302px;

font-family: 'Krub';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 52px;

color: #ffffff;
}
.centerrrrrrrr{
    position: absolute;
    width: 292px;
    height: 391px;
    left:1019px;
    top: 427px;
    
    background: #616161;
    border-radius: 20px;
}

.Alk{
    position: absolute;
    width: 318px;
    height: 318px;
    left: -14px;
    top: 0px;
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: 10px;
    align-items: center;
}

.centerrrrrrrr h3{
    position: absolute;
    width: 219px;
    height: 51px;
    left: -11px;
    top: 300px;
    
    font-family: 'Krub';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    
    color: #ffffff;
}

.Strik{
    position: absolute;
    width: 25px;
    height: 25px;
    left: 229px;
    top: 333px;
}

.fondo{
    position: absolute;
width: 1327px;
height: 827px;
left: 191px;
top: 68px;

background: #D9D9D9;
}