@font-face {
    font-family: 'krub';
    src: url(./fuente/Krub-Regular.ttf) format('truetype');
}

*{
    margin: 0;
    padding: 0;
    font-family: krub;
}
.nav{
    display: flex;
    flex-direction: row;
    background-color: rgb(139, 0, 0, 1); 
    width: 100%;
    height: 9%;
}

.poke{
    width: 55%;
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: 10px;
    align-items: center;
    margin-left: 5%;
}

/*comienza el buscador search*/

#search{
    display: flex;
    text-align: center;
    background: white;
    border: 2px solid #000;
    font-size: large;
    margin-left: -3%;
    height: 55%;
    width: 14%;
    margin-top: 1.4%;
    outline: 0;
    
}

#box-search{
    position: fixed;
    background-color: white;
    margin-top: 3.4%;
    margin-left: 5.2%;
    width: 14.5%;
    z-index: 2;
    overflow: hidden;
    display: none;

}

#box-search li a{
    display: block;
    color: #777777;
    padding: 12px 20px;
}

#box-search li a:hover{
    background-color: #f3f3f3;
}

/*sigue el nav*/

.nav h2{
    display: flex;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    margin-left: 26.5%;
    color: white;
    font-size: xx-large;
}

.icon{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 9%;
    width: 55%;
}

.var{
    background-color: #989797;
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 678px;
    margin-top: 0%;
    
}

.var a{
    color: #000;
}

.top{
    margin-top: 30%;
    display: flex;
    text-align: center;
}

.out{
    margin-top: 260%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.down{
    margin-left: -8%;
}
.buscar{
    box-sizing: border-box;

position: absolute;
width: 168px;
height: 38px;
left: 14px;
top: 200px;

background: #E0E0E0;
border: 3px solid #000000;
border-radius: 15px;
}

.lol{
    box-sizing: border-box;

position: absolute;
width: 168px;
height: 38px;
left: 14px;
top: 330px;

background: #E0E0E0;
border: 3px solid #000000;
border-radius: 15px;
}

.fondo{
    position: absolute;
width: 1290px;
height: 680px;
left: 191px;

margin-bottom: 100px;

background: #D9D9D9;
}

.container{
    display: flex;
    flex-direction: row;
    height: 678px;
}

#Cards{
    background-color: #989797;
    display: grid;
    overflow-y: scroll;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    border-radius: 10px;
}

.pokemon{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #606060;
    height: 250px;
    width: 150px;
    border-radius: 10px;
    padding: 10px;
    margin-top: 7%;
    margin-left: 7%;
    margin-bottom: 7%;
    color: white;
}

.viewpoke {
    min-width: 160px;
    max-width: 160px;
    min-height: 160px;
    max-height: 160px;
    
}
.name{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    color: white;
}

.name a{
    color: white;
}

.name img{
    width: 35px;
}

.tipo{
    margin-top: 10%;
}